body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-view {
    flex-grow: 1;
    display: flex;
}

.tool-bar {
    box-sizing: border-box;
    padding: 5px 10px;
    background: #7f278f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.articleList {
    width: 256px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    border-right: 1px solid #ccc;
    flex-shrink: 0;
}

.articleList > li {
    cursor: pointer;
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
}

.editor-view {
    display: flex;
    flex-grow: 1;
}

/*.editor{*/
/*padding: 0;*/
/*margin: 0;*/
/*border: none;*/
/*outline: none;*/
/*display: flex;*/
/*flex-grow: 1;*/
/*background: #2f2f2f;*/
/*color: #fff;*/
/*box-sizing: border-box;*/
/*padding: 1em;*/
/*}*/
.tools > span {
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
}

.tools > span > i {
    margin-right: 3px;
}

.tools > span:hover {
    background: rgba(54, 54, 54, 0.42);
}

.editor-view {
    display: flex;
    flex-direction: column;
}

.editor-view > div:first-of-type {
    display: flex;
    flex-grow: 1;
}

.react-codemirror2 {
    display: flex;
    flex-grow: 1;
}

.CodeMirror {
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.editor-bar{
    display: flex;
    height: 25px;
    flex-shrink: 0;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    background: #7f278f;
    color:#fff;
}
.editor-bar > span{
    margin-right: 10px;
    cursor: pointer;
}
.editor-bar > span > i{
    margin-right: 3px;
}